<meta charset="UTF-8" >
<div id="f"  xmlns:th="http://www.thymeleaf.org">
    <div class="data_list">
        <div class="data_list_title">
            <img src="/static/images/hot_icon.png"/>
            电影详情信息
        </div>
        <div>
            <div class="film_title"><h3><strong th:text="${film.title}"></strong></h3></div>
        </div>
        <div class="film_publishDate">
            <!--thymleaf转换格式的方法，1是实参，2是转换后的格式-->
            发布时间：<font th:text="${#dates.format(film.publishDate,'yyyy-MM-dd HH:mm:ss')}"></font>
        </div>
        <div class="film_content" th:utext="${film.content}">
        </div>
        <div class="film_lastAndNextPage" th:utext="${pageCode}"></div>
    </div>
</div>

